<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Compte{% endblock %}</title> <!-- ajouter la variable qui fait récupérer le nom du compte -->
    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}
</head>

{% block body %}
{% include 'navbar.html.twig' %}
    <div class="container">
        <h1>Compte de {{ user.username }}</h1>

        <div class="infos">
            <div class="account-name">Nom : {{ user.username }}</div>
            <div class="account-email">Email : {{ user.email }}</div>
            <div class="account-articles">
                {% for article in articles %}
                    <br>
                    <div class="article">
                        <img src="{{ article.picture }}" alt="images">
                        <div>{{ article.nom }}</div>
                        <div>{{ article.description }}</div>
                        <div>{{ article.prix }}€</div>
                        <div>{{ article.datePublication|date("d/m/Y") }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
</body>
</html>