<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}LePireCoin - {{ user.username }} {% endblock %}</title> <!-- ajouter la variable qui fait récupérer le nom du compte -->
    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}
</head>

{% block body %}
{% include 'navbar.html.twig' %}
    <div class="container">
        <h1>Compte de {{ user.username }}</h1>

        <div class="infos">
            <div class="account-name">Nom : {{ user.username }}</div>
            <div class="account-email">Email : {{ user.email }}</div>
            <div class="account-articles">
                {% for article in articles %}
                    <br>
                    <div class="article">
                        <img src="{{ article.picture }}" alt="images">
                        <div>{{ article.nom }}</div>
                        <div>{{ article.description }}</div>
                        <div>{{ article.prix }}€</div>
                        <div>{{ article.datePublication|date("d/m/Y") }}</div>
                    </div>
                {% endfor %}
            </div>
            
            {% if id is not null %}
                {# Si l'ID est présent, ne pas afficher les factures #}
                <div class="account-invoices">
                    <p>Les factures ne sont pas disponibles lorsque l'ID est présent dans l'URL.</p>
                </div>
            {% else %}
                {# Sinon, afficher les factures #}
                <div class="account-invoices">
                    {% for facture in factures %}
                        <table>
                            <caption>Facture du : {{ facture.dateTransaction|date("d/m/Y") }}</caption>
                            <thead>
                                <tr scope="col">Acheteur</tr>
                                <tr scope="col">Montant</tr>
                                <tr scope="col">Adresse</tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">{{ user.username }}</th>
                                    <td>{{ facture.montant }}€</td>
                                    <td>{{ facture.adresseFacturation }}, {{ facture.villeFacturation }} - {{ facture.codePostalFacturation }}</td>
                                </tr>
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
            

            <div class="edit-account">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            {% endif %}
        </div>

    </div>
{% endblock %}
</body>
</html>