<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <title>Lepirecoin</title>
    

    
    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}
</head>

{% include 'navbar.html.twig' %}

<body>
    {% block body %}
        <div class="container mt-4">
            <div class="card shadow-sm">
                {% if article.picture %}
                    <img src="{{ path('article_image', {'id': article.id}) }}" class="card-img-top" alt="{{ article.nom }}">
                {% endif %}
                <div class="card-body">
                    <h1 class="card-title">{{ article.nom }}</h1>
                    <p class="card-text">{{ article.description }}</p>
                    <p class="card-text"><strong>Prix :</strong> {{ article.prix }} €</p>
                    <p class="card-text"><strong>Vendu par :</strong> <a href="/account/{{ user.id }}">{{ user.username }}</a></p>
                    <p class="card-text"><strong>Date de publication :</strong> {{ article.datePublication|date('d/m/Y H:i') }}</p>
                    <form action="{{ path('cart_add', {'id': article.id}) }}" method="post">
                            <button type="submit" class="btn btn-primary">Ajouter au panier</button>
                        </form>
                </div>
            </div>
        </div>
    {% endblock %}


</body>

</html>
