<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block stylesheets %}{% endblock %}
    <title>{% block title %}LePireCoin{% endblock %}</title>
    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}
</head>
<body>
{% include 'navbar.hmtl.twig' %}
{% block body %}
        <div class="articles">
            {% for article in articles %}
            <div class="article">
{#                <img src="{{ article.image }}" alt="images">#}
                <div>{{ article.nom }}</div>
                <div>{{ article.description }}</div>
                <div>{{ article.prix }}</div>
                <div>{{ article.datePublication|date("d/m/Y") }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>
</html>