<html lang="en">

<head>
    <meta charset="UTF-8">
     <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <title>Inscription</title>
    


    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}
</head>
{% include 'navbar.html.twig' %}
{% block body %}

    <div class="container mt-5">
        <h1>Mettre un produit en vente</h1>
        
        {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.nom) }}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.prix) }}
                {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.picture) }}
                {{ form_widget(form.picture, {'attr': {'class': 'form-control'}}) }}
            </div>

            {{ form_widget(form.submit)  }}
        {{ form_end(form) }}
    </div>
{% endblock %}